<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>325442822772-ja9grt2ksb2imvtsoc3j78t9kpbi73bg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.325442822772-ja9grt2ksb2imvtsoc3j78t9kpbi73bg</string>
	<key>API_KEY</key>
	<string>AIzaSyDsgGkLXbszmoCxuYoi-vNbo3uEm2yuSgA</string>
	<key>GCM_SENDER_ID</key>
	<string>325442822772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MalikArachiche.MHacks-StockX</string>
	<key>PROJECT_ID</key>
	<string>stockx-71f2b</string>
	<key>STORAGE_BUCKET</key>
	<string>stockx-71f2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:325442822772:ios:4757e38abfe06336</string>
	<key>DATABASE_URL</key>
	<string>https://stockx-71f2b.firebaseio.com</string>
</dict>
</plist>